.contact-button {
    border-radius: 5px;
    background: #4096ee;
    background: -moz-linear-gradient(-45deg, #4096ee 0%, #4096ee 100%);
    background: -webkit-linear-gradient(-45deg, #4096ee 0%,#4096ee 100%);
    background: linear-gradient(135deg, #4096ee 0%,#4096ee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#4096ee',GradientType=1 );

}

.modal-header {
    background: #4096ee;
    background: -moz-linear-gradient(-45deg, #4096ee 0%, #4096ee 100%);
    background: -webkit-linear-gradient(-45deg, #4096ee 0%,#4096ee 100%);
    background: linear-gradient(135deg, #4096ee 0%,#4096ee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#4096ee',GradientType=1 );
}