.App {
  text-align: center;
}
.drop-down-menu {
  position: relative;
  z-index: 10;
}
.intro {
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size:cover;
  background-color: #000000;
  height: 760px;
}

.logo-svg {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin: 0 auto;
}

.logo-tagline {
  font-size: 24px;
  color: #272932;
}

.logo-container {
  position: relative;
  margin: 0 auto;
  top: 180px;
  right: 18px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.project-category {
  position: relative;
  font-size: 15px;
  background-color: #222;
  color: white;
  top: -20px;
  z-index: 1;
}

.search-icon {
  margin-right: 10px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#container, .carousel {
  height: 100%;
  width: 100%;
	margin: 0;
}

.image-slide {
	transition: background-image .3s ease-in-out;
}

.slide-arrow {
	cursor: pointer;
	font-size: 2rem;
	top: 50%;
}

.slide-arrow.right {
	right: 1rem;
}

.slide-arrow.left {
	left: 1rem;
}
